@use 'base/variables' as var;

$imgWidth: 20rem;

.testimonial {
  text-align: center;
  &__img {
    width: $imgWidth;
    margin: 0 auto;
  }
  &__content {
    margin-top: calc(calc($imgWidth / 2) - $imgWidth);
    padding: calc($imgWidth / 2) 2rem 2rem 2rem;
    background-color: var.$color_white;
  }
  &__name {
    font-size: 2.4rem;
    font-weight: 700;
  }
  &__text {
    &::before {
      content: '';
      background-image: url(../img/svg/quote.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
    }
  }
}
