$font_primary: 'Open Sans', sans-serif;
$font_secondary: 'Roboto', cursive;

$color_primary: #3b4862;
$color_black: #000000;
$color_white: #ffffff;
$color_gray: #eeefed;
$color_gray_light: #f8f8f8;

$media_tel: 480px;
$media_tablet: 768px;
$media_desktop: 1024px;
$media_desktop_xl: 1440px;

$separator: 5rem;
